.navigation {
    border-bottom: solid hsl(0, 0%, 60%) 1px;
}

.navigation__list {
    list-style-type: none;
    padding-left: 0;
    margin: 20 auto;
    line-height: 30px;
    text-align: center;
}

.navigation__link {
    color: blueviolet;
    text-decoration: none;
    line-height: 2;
}

.navigation__link:hover {
    background-color: white;
}

.navigation__link:active {
    color: rgb(32, 0, 61);
}